name: brain-games-linter

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: run linter
        run: |
          pip install poetry 
          make install
          make build 
          make lint